@model MyNewProject.Models.Category

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-color: #ffe6ff; 
        height: 100vh;
        margin: 0;
    }

    label.control-label {
        font-weight: bold;
    }

    .custom-file-input {
        cursor: pointer;
    }

    .btn-primary {
        margin-right: 10px;
    }
</style>
<h1>Details of Category</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.CategoryId">Edit</a>|
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
