@model MyNewProject.Models.DetailsCommand
<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-color: #ffe6ff; 
        height: 100vh;
        margin: 0;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Details</title>
    
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Command Details</h2>


               
                <div>
                    <strong>Command ID:</strong> @Model.CommandId
                </div>
                <div>
                    <strong>Quantity:</strong> @Model.Quantity
                </div>
                <div>
              <strong>Product ID:</strong> @Model.ProductId
                </div>


               
               
                <a asp-action="Index" class="btn btn-primary">Back to Previous Page</a>
            </div>
        </div>
    </div>

</body>

</html>
