<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmation</title>
    <style>
        .check-mark {
            color: green;
            font-size: 24px; 
            margin-right: 5px; 
        }

        body {
            background-color: #ffe6ff; 
            height: 100vh;
            margin: 0;
        }

        /
        .btn-research {
            background-color: #8B008B; 
            color: white; 
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .btn-research:hover {
                background-color: #8B008B; 
            }
    </style>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Payment Confirmation</h2>
                <p class="card-text">Thank you for your purchase!</p>


                <p class="card-text mt-3">
                    <span class="check-mark">&#10004;</span> Your payment was successful. We appreciate your business.
                </p>

                <button class="btn btn-research" onclick="location.href='@Url.Action("Index", "User")'">Continue Shopping</button>

            </div>
        </div>
    </div>
</body>

</html>
