@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('/images/images.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0; /
    }

    .text-center {
        color: white; /* Set text color to be visible against the background */
    }

    .search-container {
        background-color: rgba(255, 255, 255, 0); 
        padding: 20px; /* Add padding for better visibility */
        border-radius: 10px; /* Add border-radius for a rounded appearance */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

 
</div>
